<h1>Listing entradas</h1>

<table>
  <tr>
    <th>Autor</th>
    <th>Titulo</th>
    <th>Editorial</th>
    <th>Lugar</th>
    <th>Vaciado</th>
    <th>Fecha</th>
    <th>Issn</th>
    <th>Resumen</th>
    <th>Descriptores</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entradas.each do |entrada| %>
  <tr>
    <td><%= entrada.autor %></td>
    <td><%= entrada.titulo %></td>
    <td><%= entrada.editorial %></td>
    <td><%= entrada.lugar %></td>
    <td><%= entrada.vaciado %></td>
    <td><%= entrada.fecha %></td>
    <td><%= entrada.issn %></td>
    <td><%= entrada.resumen %></td>
    <td><%= entrada.descriptores %></td>
    <td><%= link_to 'Show', entrada %></td>
    <td><%= link_to 'Edit', edit_entrada_path(entrada) %></td>
    <td><%= link_to 'Destroy', entrada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrada', new_entrada_path %>
